<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="SimpleJob" value="5s" />
    <add key="SimpleCronJob" value="0/5 * * * * ?" />
    <add key="PushCronJob" value="0 0/1 * * * ?" />
    <add key="ServiceName" value="TOYOTAPushService DEV" />
    <add key="API_BASEURL" value="http://toyotadevapi.elandcloud.com" />
    <add key="JPUSH_BASIC" value="N2VhNzYyZmU3ZTE5MmU4MjQ1MTRjMWMyOmMxYTczZmRiYzMxZDQ1MmY3NzU0ZmM1NQ=="/>
    <add key="JPUSH_IOS_RESURI" value="https://toyotapush-ns.servicebus.chinacloudapi.cn/toyotapush"/>
    <add key="JPUSH_IOS_REQURI" value="https://toyotapush-ns.servicebus.chinacloudapi.cn/toyotapush/messages/?api-version=2015-01"/>
    <add key="JPUSH_IOS_KEY" value="E7oQ6Y42qyhkZUXh1DWf31hoqvHEzVza919Clgmdky0="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="8.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
